name: CI Windows

on:
  push:
    paths-ignore:
      - 'docs/**'
      - 'tools/**'
      - '*.md'
  pull_request:
    paths-ignore:
      - 'docs/**'
      - 'tools/**'
      - '*.md'

jobs:
  pre_job:
    runs-on: ubuntu-latest
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@v5
        with:
          concurrent_skipping: 'same_content'
          do_not_skip: '["pull_request", "release", "workflow_dispatch", "schedule"]'

  build-windows:
    needs: pre_job
    if: ${{ needs.pre_job.outputs.should_skip != 'true' }}
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        configuration: [debug, release]
    name: 'Windows [${{ matrix.configuration }}]'
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: 'recursive'
    - uses: ilammy/msvc-dev-cmd@v1
    - name: Install Conan
      run: pip install conan==2.12.2
    - uses: lukka/get-cmake@latest
    - name: Configure CMake w/ Conan
      run: |
        conan profile new default --detect
        conan profile update conf.tools.system.package_manager:mode=install default
        conan profile update conf.tools.system.package_manager:sudo=True default
        cmake --preset=default
    - name: Build
      run: cmake --build --preset=${{ matrix.configuration }}
#    - name: Configure and build
#      uses: lukka/run-cmake@v10.2
#      with:
#        configurePreset: default
#        buildPreset: '${{ matrix.configuration }}'
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: storm-engine.${{ matrix.configuration }}
        path: build/default/${{ matrix.configuration }}
        include-hidden-files: true
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
    - name: Upload debug symbols
      if: env.SENTRY_AUTH_TOKEN
      env:
        SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
      run: |
        npm install @sentry/cli
        ./node_modules/.bin/sentry-cli --auth-token ${{ secrets.SENTRY_AUTH_TOKEN }} debug-files upload -o piratesahoy -p storm-engine -t pe -t pdb "build/default/${{ matrix.configuration }}"

permissions: write-all
